<nav>
	<span>
        <a [routerLink]=" ['./home'] ">
          Home
        </a>
      </span> |	
	<span>
        <a [routerLink]=" ['./about'] ">
          About
        </a>
      </span>
</nav>
<main>
	<router-outlet></router-outlet>
</main>

<footer>
	Footer
</footer>